.tooltipContainer {
    position: absolute;
    display: flex; /* Zastosowanie flexbox */
    align-items: center; /* Wyrównanie w pionie */
    justify-content: center; /* Wyrównanie w poziomie */
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50px;
  }
  
  .icon {
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    color: black;
    cursor: pointer;
  }
    
  .tooltipBubble {
    display: none;
    position: absolute;
    top: 110%;
    padding: 10px;
    border-radius: 8px;
    color: #000;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    text-align: left;
    max-width: 800px;
    min-width: 500px;
    width: auto;
    white-space: normal;
    word-wrap: break-word;
    transition: opacity 0.2s ease-in-out;
  }
  
  .tooltipBubble h4 {
    margin: 0 0 5px;
    font-size: 14px;
  }
  
  .tooltipBubble p {
    margin: 0;
    font-size: 12px;
    line-height: 1.4; /* Poprawiona czytelność */
  }
  
  .tooltipBubble img {
    margin-top: 5px;
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .tooltipContainer:hover .tooltipBubble {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }
  
  