/* Waveform.module.scss */
@import '../../styles/variables.scss';
.waveformWrapper {
    position: relative;
    width: 100%;
    height: 50%; /* Zwiększenie wysokości dla większej szczegółowości */
    overflow: hidden;
    background-color: black; /* Możesz dostosować */

    &:nth-of-type(2){
      border-bottom: 3px solid $grey;
    }
    
    @media (max-width: 600px) {
      height: 150px; /* Mniejsza wysokość na małych ekranach */
    }
  }

.waveform {
  width: 100%;
  height: 100%;
  cursor: grab; /* Zmiana kursora na 'grab' */
  transition: transform 0.2s ease-in-out; /* Płynne przejścia */
}

.waveform:active {
  cursor: grabbing; /* Zmiana kursora na 'grabbing' podczas przeciągania */
}

.gridAdjust{
  display: flex;
  margin-top: -10px;
  margin-left: -10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  height: 100%;
  background-color: rgba($dark-grey, 0.7); 
  border-radius: 5px;
  padding: 5px 0px;

  span{
    display: flex;
    height: 100%; 
    color: $white;
    text-align: center;
  }
}

.gridButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: rgba($dark-grey, 0); 
  border: none;
  height: 100%;
  border-radius: 5px;

  &:hover{
    cursor: pointer;
  }

  &:active{
    color: $orange;
  }
}