@import '../../styles/variables.scss';
/* Deck.module.scss */
.deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.waveform {
  width: 100%;
  height: 80px;
  width: 100vh;
  background-color: #000;
  margin-bottom: 10px; /* Space below waveform before deck content */
}

.deckContent {
  width: 100%;
  padding: 10px;
  background-color: wheat;
}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  border-radius: 5px;
}

.trackinfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $black;
  border-radius: 5px;
}

.bottom{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  padding-top: 10px;
  justify-content: space-between;
}

.utilsLeft{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 10px;
}

.loops{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  border-radius: 5px;
  background-color: $grey;

  h3{
    text-align: center;
    color: $white;
    background-color: $light-grey;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

}

.fxs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  border-radius: 5px;
  background-color: $grey;

  h3{
    text-align: center;
    color: $white;
    background-color: $light-grey;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

}

.utilsRight{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}

.jogpitch{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70%;

}

.jog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-right: 2px solid $dark-grey-light;
}

.jog2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-left: 2px solid $dark-grey-light;
}

.pitch{
  width: 30%;
}

.buttonsBpm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30%;

  .buttons{
    width: 70%;
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 2px solid $dark-grey-light;
  }

  .buttons2{
    width: 70%;
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: 2px solid $dark-grey-light;
  }

  .bpm{
    width: 30%;
    padding-right: 10px;
  }

  .bpm2{
    width: 30%;
    padding-left: 10px;
  }
}