@import '../../styles/variables.scss';
/* Resetowanie stylów i ustawienie box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Główne style dla formularza logowanias */
.pageContainer {
  background-color: $black;
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;    /* Wycentrowanie poziome */
  justify-content: center; /* Wycentrowanie pionowe */
  min-height: 100vh;
  position: relative;
}

.logo {
  position: absolute;
  top: 60px;
  width: 400px;
  height: auto;
  object-fit: contain;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60vh;
  background-color: $dark-grey;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.title {
  font-size: 32px;
  color: $white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.inputGroup {
  width: 100%;
}

/* Połączenie stylów dla .label i .registerText p */
.label,
.registerText p {
  font-size: 18px;
  color: $white;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 2% 0;
  border: 1px solid $white;
  background-color: $white;
  font-size: 20px;
}

.button {
  background-color: $orange;
  width: 300px;
  color: $black;
  padding: 15px;
  border: 3px solid $orange;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: $black;
  color: $orange;
}

.button:active {
  background-color: $orange;
  color: black;
}

.errorMessage {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $orange;
  font-size: 18px;
}

/* Połączenie stylów dla .error i .errorMessage */
.error {
  color: $orange;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  padding: 0 0 6px 5%;
  justify-content: flex-end;
}

.registerLink {
  color: $orange;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.registerLink:hover {
  text-decoration: underline;
}

@media (max-width: 1500px) and (min-width: 1000px) {
  .form {
      width: 40%;
  }
}

@media (max-width: 1000px) and (min-width: 768px) {
  .form {
      width: 50%;
  }
}

@media (max-width: 768px) {
  /* Styl dla tabletów */
  .form {
      width: 80%;
  }
}

@media (max-width: 500px) {
  /* Styl dla smartfonów */
  .form {
      width: 90%;
  }

  .logo {
      width: 300px;
  }
}
