@import '../../styles/variables.scss';

/* Stylizacja sekcji pośredniej */
.intermediateSection {
  padding: 20px;
  background-color: $semi-grey;
  color: $white;
  text-align: center;
  height: 20vh;
  margin-top: 10px;
}

/* Stylizacja paska narzędzi */
.toolbar {
  display: flex;
  justify-content: space-between;
  background-color:  $black;
  height: 45vh;
  margin: 10px 0;
}

.toolbarSection {
  padding: 10px;
  color: white;
}

.leftSection,
.rightSection {
  width: 35%;
  background-color: $semi-grey;
}

.middleSection {
  width: 30%;
  background-color: $light-grey;
  margin: 0 10px;
}

/* Stylizacja sekcji na podgląd plików */
.filePreview {
  display: flex;
  height: 28vh;
  background-color: $semi-grey;
}

.fileList {
  width: 20%;
  background-color: $black;
  padding: 10px;
  color: white;
  margin: 10px;
}

.fileDetails {
  width: 80%;
  background-color:  $black;
  padding: 10px;
  margin: 10px;
  color: white;
}
