/* Workspace.module.scss */

@import '../../styles/variables.scss';

/* Mixin dla jednolitego obramowania */
@mixin border-1-black {
  border: 1px solid $black;
}

.workspace {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $black; /* Opcjonalnie, ustaw kolor tła */
}

/* Sekcja na waveformy */
.waveforms {
  height: 15%;
  // border-bottom-width: 2px;
  background-color: red;
}

/* Stylizacja paska narzędzi */
.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: $black;
  height: 50%;
  margin: 10px 0;

  &Section {
    padding: 10px;
    color: white;
  }
}

/* Sekcje na deck 1 i 2 */
.leftSection,
.rightSection {
  width: 35%;
  background-color: $dark-grey;
  padding: 10px;
}

.leftSection{
  border-radius: 0 10px 10px 0;
}

.rightSection{
  border-radius: 10px 0 0 10px;
}

/* Sekcja na mikser po środku */
.middleSection {
  width: 30%;
  background-color: $grey;
  margin: 0 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;

  .eqleft,
  .eqright {
    width: 20%;
    height: 100%;
  }

  .eqleft {
    border-right: 2px solid $black;
  }
  .eqright {
    border-left: 2px solid $black;
  }

  .centerpanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;

    .volfilter {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 80%;
    }

    .volfilterleft,
    .volfilterright {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      height: 100%;
    }

    .volfilterleft {
      border-right: 1px solid $black;
    }

    .volfilterright {
      border-left: 1px solid $black;
    }
  }
}

/* Stylizacja sekcji na podgląd plików */
.filePreview {
  display: flex;
  height: 30%;
  background-color: $grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.fileManager,
.playlistManager {
  background-color: $black;
  margin: 10px;
  border-radius: 10px;

  & {
    width: 30%; // fileManager
    border-radius: 10px;
    &:last-child {
      width: 70%; // playlistManager
      border-radius: 10px;
    }
  }
}
