@import '../../styles/variables.scss';

//sekcja na waveformy
.waveforms {
border-top: 3px solid $light-grey;
border-bottom: 2px solid $light-grey;
}

/* Stylizacja paska narzędzi */
.toolbar {
  display: flex;
  justify-content: space-between;
  background-color:  $black;
  height: 45vh;
  margin: 10px 0;
}

.toolbarSection {
  padding: 10px;
  color: white;
}

//seckcje na deck 1 i 2 
.leftSection,
.rightSection {
  width: 35%;
  background-color: $dark-grey;
  padding: 10px;
}

//sekcja na mikser po srodku
.middleSection {
  width: 30%;
  background-color: $light-grey;
  margin: 0 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;

  .eqleft{
    border: 1px solid $black;
    width: 20%;
    height: 100%;
  }

  .eqright{
    border: 1px solid $black;
    width: 20%;
    height: 100%;
  }

  .centerpanel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    border: 1px solid $black;

    .volfilter{
      display: flex;
      flex-direction: row;;
      width: 100%;
      height: 85%;
    }

    .volfilterleft, .volfilterright{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      height: 100%;
      border: 1px solid $black;
    }

  }
}

/* Stylizacja sekcji na podgląd plików */
.filePreview {
  display: flex;
  height: 28vh;
  background-color: $semi-grey;
}

.fileManager {
  width: 30%;
  background-color: $black;
  margin: 10px;
}

.playlistManager {
  width: 70%;
  background-color:  $black;
  margin: 10px;
}
