
/* Stylizacja sekcji pośredniej */
.intermediateSection {
  padding: 20px;
  background-color: #2a2a2a;
  color: white;
  text-align: center;
  height: 20vh;
  margin-top: 10px;
}

/* Stylizacja paska narzędzi */
.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 45vh;
  margin: 10px 0;
}

.toolbarSection {
  padding: 10px;
  color: white;
}

.leftSection,
.rightSection {
  width: 35%;
  background-color: #333;
}

.middleSection {
  width: 30%;
  background-color: #444;
  margin: 0 10px;
}

/* Stylizacja sekcji na podgląd plików */
.filePreview {
  display: flex;
  height: 28vh;
  background-color: #2a2a2a;
}

.fileList {
  width: 20%;
  background-color: black;
  padding: 10px;
  color: white;
  margin: 10px;
}

.fileDetails {
  width: 80%;
  background-color: black;
  padding: 10px;
  margin: 10px;
  color: white;
}
