/* EQ.module.scss */
.eq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
  
  .knobs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 85%;
    border: 1px solid black;
  }
  