@import '../../styles/variables.scss';

/* TrackInfo.module.scss */

.trackInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
padding: 10px;
}

.title{
    color: $white;
    font-weight: 700;
    font-size: 0.8rem;
}

.author{
    color: $light-grey;
    font-weight: 700;
    font-size: 0.7rem;
}

.time{
    color: $white;
    font-weight: 700;
    font-size: 0.8rem;
}